<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Login Page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div th:if="${param.error}">
					<div class="alert alert-danger text-center">
						<h4>Invalid UserName or Password!</h4>
					</div>
				</div>

				<div th:if="${param.logout}">
					<div class="alert alert-info text-center">
						<h4>You Have Been Logged Out</h4>
					</div>
				</div>
				<div class="card mt-3 bg-primary text-white">
					<div class="card-body">
						<h1 class="text-center">Login Form</h1>
						<form th:action="@{/login}" method="post">
							<div class="form-group">
								<label class="control-level" for="username">UserName</label> <input
									type="text" class="form-control" name="username" id="username"
									required="required" autofocus="autofocus" placeholder="Email">
							</div>
							<div class="form-group">
								<label class="control-level" for="password">Password</label> <input
									type="password" class="form-control" name="password"
									id="password" required="required" autofocus="autofocus"
									placeholder="Password">
							</div>
							<div class="form-group">
								<!-- <button type="submit" class="btn btn-success">Login</button> -->
								<input type="submit" class="btn btn-success" name="login-submit" id="login-submit" value="Log In">
								<span> New User ? <a th:href="@{/registration}"
									class="text-white">Register here</a>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>